[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "3.2.0"
openai = "1.6.0"
pydantic-settings = "2.1.0"
python-i18n = { extras = ["YAML"], version = "0.3.9" }
orm = { extras = ["postgresql", "sqlite"], version = "0.3.1" }
greenlet = "3.0.3"
alembic = "1.13.1"
[dev-packages]

pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
